/* ぷちデレラまわりのダイアログの出現座標がおかしい不具合に対処 */

.jsPopUp {
    position: fixed;
    left: calc(50vw - 160px) !important;
}

/* ぷちデレラのテクニカルボードの挙動がおかしい不具合に対処 */

.board#skillboard {
    zoom: 1 !important;
    transform: none !important;
}