/* ぷちデレラまわりのダイアログの出現座標がおかしい不具合に対処 */

.jsPopUp[style*="absolute"] {
    position: fixed;
    left: calc(50vw - 160px) !important;
}

/* ぷちデレラのテクニカルボードの挙動がおかしい不具合に対処 */

.board#skillboard {
    zoom: 1 !important;
    transform: none !important;
}

/* ぷちデレラのテクニカルボードの開放確認ダイアログの出現位置がおかしい不具合に対処 */

.p-modal .p-modal__window {
    left: calc(50vw - 160px) !important;
}